<%
SimpleForm.setup do |config|
  config.wrappers :delivery, tag: 'div', class: 'form-group' do |b|
    b.wrapper tag: 'div', class: 'col-sm-offset-3 col-sm-9' do |ba|
      ba.use :input
    end
  end
end
%>
<%= simple_form_for(@node, html: {class: "form-horizontal"}) do |f| %>
  <%= f.input :title %>
  <%= f.input :description, as: :text %>
  <%= f.input :contact, as: :text %>
  <%= f.input :email, as: :email %>
  <%= f.association :city %>
  <%= f.association :category %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <%= f.button :submit, class: "btn-primary" %>
    </div>
  </div>
<% end %>