<%= page_title @node.title %>
<% breadcrumbs.item @node.title %>

<dl class="dl-horizontal">
  <dt><%=t '.description' %></dt>
  <dd><p><%= @node.description %></p></dd>

  <dt><%=t '.contact' %></dt>
  <dd><address><%= @node.contact %></address></dd>

  <dt><%=t '.city' %></dt>
  <dd><p><%= @node.city.name %></p></dd>

  <dt><%=t '.category' %></dt>
  <dd><p><%= @node.category.name %></p></dd>
</dl>