<%= page_title @node.title %>
<% breadcrumbs.item t('home'), root_path %>
<% breadcrumbs.item @node.title %>

<dl>
  <dt><%=t '.description' %></dt>
  <dd><p><%= @node.description %></p></dd>

  <dt><%=t '.contact' %></dt>
  <dd><address><%= @node.contact %></address></dd>

  <dt><%=t '.city' %></dt>
  <dd><%= @node.city.name %></dd>

  <dt><%=t '.category' %></dt>
  <dd><%= @node.category.name %></dd>
</dl>