<%= render 'head' %>
<%= render 'header' %>

<div class="container">
  <%= render 'breadcrumb' %>

  <div class="row page">
    <div class="col-sm-12">
      <%= render 'messages' %>
    </div>

    <div class="col-sm-4">
      <%= render 'control/base/navigation' %>
    </div>

    <div class="col-sm-8 col-xs-12">
      <%= yield %>
    </div>
  </div>

  <%= render 'footer' %>
</div>

<%= render 'foot' %>