<!DOCTYPE html>
<html>
  <head>
    <title>Ilan</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <!-- Header -->
    <div class="header">
      <div class="container">
        <div class="row">

          <!-- Brand -->
          <div class="header-col col-sm-3 cols-xs-12">
            <%= render 'logo' %>
          </div>

          <!-- Add new -->
          <div class="header-col col-sm-9 cols-xs-12">
            <a href="form.html" class="btn btn-sm btn-primary pull-right">
              <i class="glyphicon glyphicon-plus"></i> İlan ekle
            </a>
          </div>

        </div>
      </div>
    </div>
    <!-- /Header -->

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
