<%= render 'head' %>
<%= render 'header' %>

<div class="container">
  <div class="row page">
    <div class="col-sm-12">
      <%= render 'messages' %>
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'foot' %>
